.main {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: black;
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 6% 15px 0;
    background-color: #2a236b;
    /* border-style: solid;
    border-color: #2a236b;
    border-width: 5px;
    border: 0.2, solid, black; */
      
  }
  header h1{
      text-align: center;
      /* border: solid, black; */
  }
  .search {
    height: 600px;
    width: 300px;
    background-color: pink;
  }
  .forecast {
    height: 600px;
    width: 1000px;
  }
  .today {
    background-color: green;
    height: 300px;
  }
  .weekly {
    height: 300px;
    background-color: purple;
    display: flex;
    justify-content: space-around;
  }
  .form-input {
    margin: 50px;
    text-align: center;
  }
  .search-button {
    background-color: red;
    height: 20px;
    width: 200px;
    margin-left:  43px;
  }



